.root {
    -fx-background-color: #585858;
    -fx-font-size: 11pt;
}

.label2 {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -text-decoration: underline;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: lightgrey;
    -fx-background-radius: 2 ;
}

.button-answer {
    -fx-background-color: lightgrey;
    -fx-border-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 2;
    -fx-text-alignment: center;
    -fx-font-size: 11pt;
}

.button-question {
    -fx-text-fill: black;
    -fx-background-radius: 2;
    -fx-font-size: 18pt;
    -fx-background-color: #f5b55b;
}

.menubar {
    -fx-text-fill: black;
}
.menu-item {
    -fx-text-fill: black;
    -fx-background-color: #585858;
}

.column-header {
    -fx-font-size: 14pt;
}

.text-field {
    -fx-font-size: 10pt;
}

